* {
    margin: 0;
    padding: 0;
}

.left-10 {
  margin-left: 10px;
}

.bottom-20 {
  margin-bottom: 20px;
}

.padding-40 {
  padding: 40px;
}

.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.hide {
  display: none;
}

.bg-white {
  background: #fff;
}

.add-players-step {
  height: 100vh;
  background-image: url("images/background.png");
  background-size: cover;
}

.snake-game-step {
  margin: 20px;
}

.player {
  width: 22px;
  height: 39px;
  background-size: 22px;
}

.snake-board .player {
  position: absolute;
  bottom: 11px;
  left: 19px;
}

/* Dice */
.dice {
  padding: 16px;
  background-color: tomato;
  width: 120px;
  height: 120px;
  border-radius: 10%;
}

.dot {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex ;
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .dot:nth-of-type(1) {
  align-self :flex-end;
}

.third-face .dot:nth-of-type(2) {
  align-self :center;
}

.fourth-face,
.sixth-face,
.fifth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .dice-column,
.sixth-face .dice-column,
.fifth-face .dice-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .dice-column:nth-of-type(2) {
  justify-content: center;
}
